# dependencies
node_modules/
dist/

# environment files
.env
.env.*
!.env.example
apps/*/.env
apps/*/.env.*
!apps/*/.env.example

# build outputs

.turbo/
.vercel/

# logs
*.log
firebase-debug.log

# system files
.DS_Store
Thumbs.db
